body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-wrapper {
    max-width: 1024px;
    background-color: #ccc;
    margin: 0px auto 30px auto;
    padding: 0px 15px 15px 30px;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
.flex-container{
    display: flex;
    width: 100%;
    margin: 25px;
    padding: 10px;
    line-height: 700px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
.flex-container>div
{
    display:flex;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    text-align:left;
    box-shadow:5px 10px #aaa;
    margin-right: 10px;
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
}
.proj1,.proj5,.proj2,.proj3,.proj4,.proj6
{
    align-self: auto;
    max-height: 400Px;
    max-width: 300px;
    width: 50%;
}
.proj5
{
    align-items: flex-end;
    margin-left: 25%;
    margin-right: 0%;
}
.proj6
{
    align-items: flex-end;
    margin-left: 0%;
    margin-right: 10%;
}

header {
    height: 50px;
    width: 100%;
    background-color: #333;
    position: fixed;
    left:0px;
    top: 0px;
}

.banner{
    height: 400px;
    background-image: url('../images/DSC_0122.JPG');
    background-size: cover;
    background-position: bottom;
    margin-top: 60px;
}

h1{
    color:white;
    text-align: center;
    padding-top:60px;
    font-size: 46px;
}

h2{
    color: #fff;
    text-align: center;
    font-size: 32px;
}

section.about-me{
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-me p {
    font-size: 18px;
    line-height: 38px;
    text-align: justify;
}

section.my-portfolio div{
    background-color: #999;
    border: 1px solid #000;
}

.d-none{
    display: none;
}

.d-inline{
    display: inline;
    background-color: aqua;
}

.d-flex{
    display: flex;
}

.d-inline.d2{
    width: 300px;
    display: inline-block;
    background-color: red;
}

.d-none, .d-inline {
    font-size: 16px;
}

section .d-inline{
    color: yellow;
}

section>.d-inline{
    color: green;
}

section>div>.d-inline{
    color: violet;
}

.with-direction{
    flex-direction: row;
    flex-wrap: nowrap;
}

.with-direction>div{
    height: 40px;
    text-align: center;
}

.d12{
    order: 5;
    flex-grow: 1;
}

.d13{
    order: 1;
    flex-grow: 1;
}

.d14{
    order:2;
    flex-grow: 2;
}

.d15{
    order: 4;
    flex-grow: 1;
}

.d16{
    order: 3;
    flex-grow: 3;
}

section.my-portfolio div.d-flex{
    flex-wrap: wrap;
    justify-content: center;
    background-color: none;
    border: none;
    padding: 15px;
}

.d-flex>.d-inline{
    display: inline-block;
    width: 180px;
    padding: 15px;
    margin: 15px;
    color: #000;
    background-color: #fff;
    box-shadow: 5px 10px #ccc;
    border-radius: 4px;
}

section.my-portfolio .d-flex h4{
    min-height: 60px;
}

section.my-portfolio .d-flex p{
    font-size: 14px;
}

.basic-grid,
.advance-grid,
.gridColRow,
.gridArea
{
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    gap: 5px;
    padding: 10px;

}
.gridColRow
{
    grid-template-columns: auto auto auto auto;
}
.advance-grid
{
    grid-template-columns: auto auto auto auto auto;

}
.gridArea
{
    grid-template-columns: auto auto auto auto auto auto;
}
.basic-grid>div,.advance-grid>div, .gridColRow>div, .gridArea>div
{
    border: 1px solid gray;
    text-align: center;
    line-height: 52px;
    background-color: #ffffffcc;
    padding: 15px;
    box-shadow: -5px 10px;
}
.basic-grid .box1
{
    grid-column-start: 1;
    grid-column-end: 3;
}
.basic-grid .box6
{
    grid-column: 2/4;
}
.basic-grid .box5
{
    grid-row: 2/4;
}
.advance-grid .box7
{
 /*   grid-area: row start/col start/row end/col end;*/
    grid-area: 1/2/3/5;
}
.advance-grid .box5
{
    grid-area: 3/3/5/5;
}
.advance-grid .box10
{
    grid-column: 1/3;
}
.advance-grid .box2
{
    grid-row: 1/3;
}
.gridColRow .box1
{
    grid-row: 1/3;
}
.gridColRow .box10
{
    grid-row: 3/5;
}
.gridColRow .box3
{
    grid-column: 3/5;
}
.gridColRow .box8
{
    grid-column: 3/5;
}
.gridArea .box8
{
    background-color: aqua;
    grid-area: 2/2/5/4;
}
.gridArea .box9
{
    background-color: aquamarine;
    grid-area: 2/4/5/6;
}
.gridArea .box5
{
    background-color: yellowgreen;
    grid-column: 5/7;
}
nav ul
{
    list-style: none;
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    line-height: 50px;
    font-weight: 600;
}
nav ul li:hover a{
    color: yellow;
}
nav ul li:hover{
    background-color: forestgreen;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
@media screen and (max-width:992px){
    header{
        height: auto;
        position: absolute;
        background-color: #333333cc;
    }
    .banner{
        margin-top: 240px;
    }
}
nav ul li{
    display:block;
}
/*@media screen and (max-width:425px){
    .banner{

    }
}*/
